/* Reset some default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styling for the navigation bar */
.navbar {
	background-color: #3498db; /* Choose your background color */
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*padding: 10px, 0;*/
	min-height: 120px;
}

.navbar-list {
	list-style: none;
	display: flex;
}

.navbar-list li {
	margin-right: 100px;
}

.navbar-list a {
	text-decoration: none;
	color: #fff; /* Choose your text color */
	font-family: 'Nunito Sans', sans-serif; /* Choose your font */
	font-size: 30px; /* Choose your font size */
	transition: color 0.3s, background-color 0.3s;
}
.navbar-list a.active {
	background-color: #2070a0; /* Background color on hover */
	color: #fff;
	font-weight: bold; /* Make the text bold */
}

.navbar-list a:hover {
	color: #3498db; /* Text color on hover */
	background-color: #fff; /* Background color on hover */
}

@media (max-width: 760px) {
	.navbar-list {
		display: flex;
		flex-direction: column;
	}
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #333;
	text-align: center;
}
/* Styling for the sections */

.welcome {
	padding: 10px 10px;
	text-align: center;
}
.welcome h1 {
	font-size: 35px;
	margin: 50px;
}
.welcome img {
	display: block; /* Make the image a block-level element */
	max-width: 100%; /* Limit the image's width to the container's width */
	height: auto; /* Maintain the aspect ratio */
}

.welcome .description {
	font-size: 12px;
}

.credits {
	color: grey; /* different color for photo credits */
}
.welcome .first-paragraph {
	margin: 20px 20px;
}

/* styling for events and research headers */
.events h1,
.research h1 {
	text-align: center;
}

/* Styling for the events section */
.events,
.research {
	/*background-color: #26eb0c;*/
	background: linear-gradient(
		45deg,
		#f77171,
		#f77171 25%,
		transparent 25%,
		transparent 50%,
		#f77171 50%,
		#f77171 75%,
		transparent 75%,
		transparent
	);
}

.gallery {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(33.33%, 1fr)
	); /* Create a grid with three columns */
	gap: 10px;
	justify-content: center; /* Center the grid horizontally */
}
.gallery img {
	max-width: 565px;
	max-height: 375px;
}

.event-item1,
.event-item2,
.event-item3,
research-item1,
research-item2,
research-item3 {
	text-align: center;
	margin-bottom: 20px; /* Add space between rows */
}

/* Responsive design for screens below 760px */
@media (max-width: 760px) {
	.gallery {
		grid-template-columns: 1fr; /* Change to a single column for mobile view */
	}

	.event-item1,
	.event-item2,
	.event-item3,
	research-item1,
	research-item2,
	research-item3 {
		margin-bottom: 10px; /* Adjust the spacing as needed for smaller screens */
	}
}
/* Styles for the "Useful Information" section */
.useful-info {
	text-align: center;
	/*background-color: purple;*/
	background: linear-gradient(
		45deg,
		#f46a6a,
		#f46a6a 25%,
		transparent 25%,
		transparent 50%,
		#f46a6a 50%,
		#f46a6a 75%,
		transparent 75%,
		transparent
	);
	padding: 20px;
}

.useful-info p {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	/*color: blanchedalmond;*/
	font-size: medium;
}

.subscribe-button {
	vertical-align: middle;
	margin-left: 10px; /* Add spacing between the paragraph and button */
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db; /* Button background color */
	color: #fff; /* Text color */
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Button shadow */
	text-decoration: none;
	transition: background-color 0.3s, transform 0.3s; /* Smooth color and transform transition */

	/* 3D effect: Slightly raise the button on hover */
	transform: translate(0, 0);
}

.subscribe-button:hover {
	background-color: #2072a8; /* Hover background color */
	transform: translate(2px, 2px); /* Button raised on hover */
}

/* Responsive design for screens below 760px */
@media (max-width: 760px) {
	.useful-info p {
		width: 100%; /* Take up the full width in mobile view */
		display: block; /* Stack the button below the paragraph */
		text-align: center; /* Center the text for better mobile readability */
	}

	.subscribe-button {
		margin: 10px 0; /* Add spacing between the paragraph and button in mobile view */
	}
}

/*  styles for the footer */
footer {
	background-color: #297fb8; /* Background color for the footer */
	padding: 20px 0;
	text-align: center;
	color: #fff; /* Text color */
}

/* Flex container for all the divs */
.footer-container {
	display: flex;
	flex-wrap: wrap; /* Allow elements to wrap to the next row on smaller screens */
	justify-content: space-between; /* Distribute elements evenly */
	align-items: center; /* Vertically center elements */
}

/* Style for individual divs */
.footer-container > div {
	margin: 10px; /* Add spacing between divs */
	text-align: center;
	width: 20%; /* Each div takes up 20% of the container width */
}

/* Style for images and links within the divs */
.footer-container img {
	max-height: 35px; /* Set a maximum height for images (e.g., the button image) */
	max-width: 100px;
}
/* Styles for links */
.footer-container a {
	color: #fff; /* Text color for links */
	text-decoration: none;
	/*display: block; /* Make links a block element for vertical alignment */
	margin: 0px 0px; /* Add spacing between links */
}
.footer-left.word-container{
	display: inline-block;
	position: relative;
	color: black;
	font-weight: bold;
}
.word{
	display: inline-block;
	transition: transform 0,3s ease-in-out;
	color: black;
	font-weight: 900;
}
.word:first-child{
	transform: rotate(-45deg);
	transform-origin: 35% 55%;
}
.word:last-child{
	transform: rotate(45deg);
	transform-origin:30% 0%;
	position:absolute;
	left:10;
	top: -1,5em;
}
.footer-left img {
	min-height: 100px;
	min-width: 150px;
	max-width: 50%;
}
.contact-info {
	display: flex;
	flex: 1;
}
.contact-info a {
	flex: 1;
	text-align: center;
}

.social-media {
	display: flex;
	flex: 1;
	justify-content: space-between;
	width: 100%;
}

.social-media a {
	flex: 1;
	text-align: center;
}

.social-media img {
	max-width: 100%;
	height: auto;
}
.about-website {
	display: flex;
	flex: 2;
}
.about-website a {
	flex: 1;
	text-align: center;
}

/* Responsive design for screens below 760px */
@media (max-width: 760px) {
	.footer-container,
	.contact-info,
	.social-media,
	.about-website {
		flex-direction: column; /* Stack  vertically */
	}
}

/* ---------- topical-page ---------- */

body.topical-page {
	font-size: 1, 5rem;
	font-family: 'Nunito Sans', sans-serif;
}

.content-wrapper {
	display: grid;
	grid-template-columns: /* repeat(3, 1fr); */
		minmax(150px, 40vw) minmax(150px, 40vw)
		minmax(150px, 20vw);
	grid-auto-rows: minmax(150px, auto);
	gap: 10px;
}

header {
	grid-column: 1/3;
	grid-row: 1/2;
	background-color: #2c3e50;
	color: #ecf0f1;
}

main {
	grid-column: 1/3;
	grid-row: 2/6;
	background-color: #ecf0f1;
	color: #2c3e50;
}
aside {
	grid-column: 3/4;
	grid-row: 1/7;
	background: linear-gradient(to right, #2c3e50, #e74c3c);
	color: #ffffff;
	padding-top: 150px;
	padding-left: 50px;
	padding-right: 50px;
}
footer.topical {
	grid-column: 1/3;
	grid-row: 6/6;
	background-color: #34495e;
	color: #ecf0f1;
}
/* Styling for the navigation bar */
.navbar-topical {
	background-color: #2c3e50; /* Choose your background color */
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*padding: 10px, 0;*/
	min-height: 120px;
}

.navbar-list-topical {
	list-style: none;
	display: flex;
}

.navbar-list-topical li {
	margin-right: 100px;
}

.navbar-list-topical a {
	text-decoration: none;
	color: #ecf0f1; /* Choose your text color */
	font-family: 'Nunito Sans', sans-serif; /* Choose your font */
	transition: color 0.3s, background-color 0.3s;
	font-size: 1, 9rem;
}
.navbar-list-topical a.active {
	background-color: #2070a0; /* Background color on hover */
	color: #fff;
	font-weight: bold; /* Make the text bold */
}

.navbar-list-topical a:hover {
	color: #3498db; /* Text color on hover */
	background-color: #fff; /* Background color on hover */
}
article h1 {
	text-align: center;
	font-size: 2rem;
}
article div {
	text-align: center;
}
article img {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
.reason-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(150px, auto);
	gap: 10px;
}
.reason-wrap p {
	padding: 25px;
}
.reason-wrap h2 {
	text-align: center;
}
/* Styling the Footer: Flex container for all the divs */
.footer-container {
	display: flex;
	flex-wrap: wrap; /* Allow elements to wrap to the next row on smaller screens */
	justify-content: space-between; /* Distribute elements evenly */
	align-items: center; /* Vertically center elements */
}

/* Style for individual divs */
.footer-container > div {
	margin: 10px; /* Add spacing between divs */
	text-align: center;
	width: 20%; /* Each div takes up 20% of the container width */
}

/* Style for images and links within the divs */
.footer-container img {
	max-height: 35px; /* Set a maximum height for images (e.g., the button image) */
	max-width: 100px;
}
/* Styles for links */
.footer-container a {
	color: #fff; /* Text color for links */
	text-decoration: none;
	/*display: block; /* Make links a block element for vertical alignment */
	margin: 0px 0px; /* Add spacing between links */
}
.footer-left img {
	min-height: 100px;
	min-width: 120px;
	max-width: 50%;
}
.contact-info {
	display: flex;
	flex: 1;
}
.contact-info a {
	flex: 1;
	text-align: center;
}

.social-media {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex: 1;
}

.social-media a {
	flex: 1;
	text-align: center;
}

.social-media img {
	max-width: 100%;
	height: auto;
}
.about-website {
	display: flex;
	flex: 2;
}
.about-website a {
	flex: 1;
	text-align: center;
}

/* Responsive design for screens below 760px */
@media (max-width: 760px) {
	.content-wrapper {
		display: grid;
		grid-template-columns: minmax(150px, 100vw);
		grid-auto-rows: minmax(150px, auto);
		gap: 10px;
	}
	.navbar-list {
		display: flex;
		flex-direction: column;
	}
	header {
		grid-column: 1/2;
		grid-row: 1/2;
		background-color: #2c3e50;
		color: #ecf0f1;
	}

	main {
		grid-column: 1/2;
		grid-row: 2/7;
		background-color: #ecf0f1;
		color: #2c3e50;
	}
	aside {
		grid-column: 1/2;
		grid-row: 7/8;
		background: linear-gradient(to right, #2c3e50, #e74c3c);
		color: #ffffff;
		padding-top: 150px;
		padding-left: 50px;
		padding-right: 50px;
	}
	footer.topical-page {
		grid-column: 1/2;
		grid-row: 8/10;
		background-color: #34495e;
		color: #ecf0f1;
	}
	.reason-wrap {
		display: grid;
		grid-template-columns: minmax(150px, 100vw);
		grid-auto-rows: minmax(150px, auto);
		gap: 10px;
	}
	.container {
		display: flex;
		flex-direction: column;
		/* display:grid;
        grid-template-columns: minmax(150px, 100vw);
        grid-auto-rows: minmax(150px, auto);
        gap: 10px;  */
	}
	.footer-container {
		display: flex;
		flex-direction: column; /* Stack divs vertically */
	}
	.contact-info {
		display: flex;
		flex-direction: column;
	}
	.about-website {
		display: flex;
		flex-direction: column;
	}
}
