/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styling for the navigation bar */
.navbar {
    background-color: #3498db; /* Choose your background color */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-list li {
    margin-right: 20px;
}

.navbar-list a {
    text-decoration: none;
    color: #fff; /* Choose your text color */
    font-family: Arial, sans-serif; /* Choose your font */
    font-size: 18px; /* Choose your font size */
    transition: color 0.3s, background-color 0.3s;
}

.navbar-list a:hover {
    color: #3498db; /* Text color on hover */
    background-color: #fff; /* Background color on hover */
}
/* Styling for the footer */
footer {
    background-color: #444;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Media query for mobile view */
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-list {
        flex-direction: column;
    }

    .navbar-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    
footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-left {
    margin-bottom: 20px;
}
}

